<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About Us Page</title>
  <link rel="stylesheet" href="css/baloonstyle.css">
</head>

<body>

  <nav class="navbar1">
    <a href="/"><img class="logo" src="images/balloon4.jpg"> </a>
    <ul>
      <li>
        <h1>The Balloonatic Asylum</h1>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

      <li><a href="/product">Product</a></li>
      <li><a href="/aboutus">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li></li>
      <% if(authorized){ %>
        <a class="button button5" href="/logout">Logout</a>
    <% }else{ %>
    <a class="button button5" href="/login" >Login</a>
    <a class="button button5" href="/register">Sign Up</a>
    <% } %>
    </ul>
  </nav>
  </div>
  <br>
  <nav class="navbar-2">
    <ul>
      <li><a href="/search?category=birthday_bouquets">Birthday Bouquest</a></li>
      <li><a href="/search?category=ballony_occasions">Balloony Occasions</a></li>
      <li><a href="/search?category=build_ballon_bouquet">Build a Balloon Bouquet</a></li>
      <li><a href="/search?category=decorating_with_ballons">Decorating with Balloons</a></li>
      <li><a href="/search?category=ballon_in_bulk">Balloons in Bulk</a></li>
        </ul>
  </nav>
  </div>
  <div class="ownerpic"> <img src="images/owner.jpg"> </div>
  <div class="abouttext">
    <h2>"We have a range of colours and options available, please look at the gallery for a portfolio of pictures.
      Get in touch and we can discuss your requirements and how you envision your bespoke decorations.
      Our prime goal is your satisfaction."
      <p> -- Krista E., Founder of The Balloonatic Asylum</p>
    </h2>
  </div>
  <div class="aboutline">
    <h1>About US:-</h1>
    <p>The Balloonatic Asylum was formed in 2012 by Krista H. Elium. She was originally a high-energy physicist who
      decided to give up that lucrative career to spend more time at home with her eight Maine Coon cats and two
      goldfish. </p>
    <p>One day while working with liquid helium cooling giant magnets near absolute zero at a proton-smashing
      super-collider, she said, "I'm getting really cold and my sweater bill is astronomical! think I'll dump the
      physics, and just focus on my true love... room-temperature Helium!" On that day a new business was born bringing
      Helium gas and joy to the masses. </p>
    <h1>Our mission:-</h1>
    <p>To provide as many varities of balloons as possible. Also we want to provide best decoration idea for the
      functions all over the world.</p>
    <p>Customer satisfaction is our major goal.</p>
    <p>There is only one boss- "Customer"</p>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <a href="/" class="fa fa-facebook"></a>
    <a href="/" class="fa fa-twitter"></a>
    <a href="/" class="fa fa-google"></a>
    <a href="/" class="fa fa-linkedin"></a>
    <a href="/" class="fa fa-youtube"></a>
    <a href="/" class="fa fa-instagram"></a>
  </div>
  <br><br><br><br>
  
  <div class="footer">
    <p>All copyrights are reserved by Bhargav Patel since 1999</p>
  </div>
</body>

</html>